speaker_b_addr={{ speaker_b_addr }} speaker_b_id={{ speaker_b_id }} speaker_b_as={{ speaker_b_as }} speaker_c_addr={{ speaker_c_addr }} speaker_c_id={{ speaker_c_id }} speaker_c_as={{ speaker_c_as }} speaker_impl_addr={{ speaker_impl_addr }} speaker_impl_id={{ speaker_impl_id }} speaker_impl_as={{ speaker_impl_as }}
