speaker_addr={{ speaker_addr }} speaker_id={{ speaker_id }} speaker_as={{ speaker_as }} speaker_impl_addr={{ speaker_impl_addr }} speaker_impl_id={{ speaker_impl_id }} speaker_impl_as={{ speaker_impl_as }}
