[submodule "submodules/picotls"]
	path = submodules/picotls
	url = https://github.com/h2o/picotls.git
[submodule "submodules/aiger"]
	path = submodules/aiger
	url = http://github.com/arminbiere/aiger
[submodule "submodules/abc"]
	path = submodules/abc
	url = https://github.com/kenmcmil/abc
[submodule "z3orig"]
	path = submodules/z3
	url = https://github.com/Z3Prover/z3.git
[submodule "submodules/ivy_lsp"]
	path = submodules/ivy_lsp
	url = https://github.com/ElNiak/ivy-lsp.git
[submodule "vscode-ivy"]
	path = submodules/vscode-ivy
	url = https://github.com/ElNiak/vscode-ivy.git
[submodule "submodules/panther-serena"]
	path = submodules/panther-serena
	url = https://github.com/ElNiak/panther-serena.git
[submodule "submodules/panther-ivy-plugin"]
	path = submodules/panther-ivy-plugin
	url = https://github.com/ElNiak/panther-ivy-serena.git
